.edu {
  flex-direction: column;
  min-width: 32rem;
}

.edu .input-field input {
  width: 50%;
}

.delete-icon {
  display: flex;
  align-items: center;
}

.delete-icon img {
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}