.indeed-buttons {
  padding: 2rem 3rem 0rem;
}

.indeed-buttons button {
  width: 8rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 0px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.indeed-buttons button.white {
  background-color:rgb(220, 217, 208);
  color: #103d95;
}

.indeed-buttons button.blue {
  background-color: #103d95;
  color: white;
}