.profile-image-container {
  display: flex;
  flex-grow: 1;
  padding: 2rem 0rem 0rem;
}

.user-profile {
  flex-grow: 1;
}

.user-profile img {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  object-fit: cover;
  border: 0.6rem solid white;
}

.image-and-name {
  position: relative;
  left: 6rem;
  top: -6rem;
}

.profile-banner {
  background-color: #dfeefe;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 10rem;
}