.top-container {
  /* background-image: url("../../../public/indeedbg.webp"); */
  background-color: rgba(90, 164, 229, 0.543);
  background-size: cover;
  min-height: 100vh;
}

.content-container {
  background-color: rgba(240, 248, 255, 0.294);
}


.row {
  display: flex;
}

.forms-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.steps-container {
  padding: 8rem 0rem 0rem;
  min-width: 33%;
}

.content {
  background-color: aliceblue;
  min-height: 100vh;
}

.side-nav {
  background-color: #103d95;
  padding: 4rem 0rem 0rem 3rem;
  min-width: 33%;
}

.form-container {
  padding: 0rem 3rem 0rem;
}

.side-nav h1 {
  color: white;
}

.side-nav p {
  color: white;
}

.form-container h1 {
  color: #103d95;
}

.form-container p {
  color: #103d95;
}

.indeed-logo {
  width: 8rem;
}

.input-form {
  display: flex;
  flex-wrap: wrap;
}

.step {
  display: flex;
  align-items: center;
}

.step .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(119, 138, 155);
  border-radius: 1rem;
  color: rgb(119, 138, 155);
  margin-right: 1rem;
}

.step p {
  color: rgb(119, 138, 155);
}

.steps .line {
  border-left: 1px solid rgb(119, 138, 155);
  height: 3rem;
  margin-left: 1rem;
}

.step.active .number {
  border: 2px solid aliceblue;
  color: aliceblue;
}

.step.active p {
  color: aliceblue;
}

.steps .line.active {
  border-color: aliceblue;
}


@media screen and (max-width:1024) {}

@media screen and (max-width:768px) {
  .side-nav {
    display: none;
  }

}