.input-field {
  padding: 1rem 2rem 1rem 0rem;
  min-width: 50%;
  flex-grow: 1;
}

.input-field * {
  display: block;
}

.input-field-box {
  display: flex;
  align-items: center;
}

.input-field-box img {
  width: 2.5rem;
  height: 2.5rem;
}

.input-field input {
  margin: 0.3rem 0rem 0rem;
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  border: 1px solid #103c9563;
  border-radius: 0.4rem;
  width: 100%;
}

.input-field input:focus {
  outline: none !important;
  border: 2px solid rgba(10, 118, 250, 0.409);
}

.input-field label {
  color: #103d95;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width:1024) {
  .input-field {
    min-width: 100%;
  }
}
@media only screen and (max-width:768) {
  .input-field {
    min-width: 100%;
  }
}