.select-input {
  padding: 1rem 2rem 1rem 0rem;
  min-width: 50%;
  flex-grow: 1;
}

.select-input * {
  display: block;
}

.select-input select {
  margin: 0.3rem 0rem 0rem;
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  border: 1px solid #103c9563;
  border-radius: 0.4rem;
  background-color: white;
  width: 100%;
}

.select-input select:focus {
  outline: none !important;
  border: 2px solid rgba(10, 118, 250, 0.409);
}

.select-input label {
  color: #103d95;
  font-size: 1rem;
  font-weight: bold;
}